    
    </div>
    <!-- END #content -->
  
    <!-- BEGIN scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- END scroll to top btn -->
  </div>
  <!-- END #app -->

  <!-- Modal large-->
  <div class="modal fade text-sm" id="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="overlay justify-content-center align-items-center" style="display:none;">
          <i class="fas fa-3x fa-sync fa-spin"></i>
        </div>
        <div class="modal-header">
          <h5 class="modal-title">Modal Title</h5>
          <button type="button" class="btn btn-modal-tool" onclick="modalUtils.fullscreen(this)">
            <i class="fas fa-expand"></i>
          </button>
          <button type="button" class="ico-close-button btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>   
        </div>
        <div class="modal-body">
          <p>body</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default close-button" data-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary modal-button">적용</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <!-- modal md -->
  <div class="modal fade text-sm" id="modal-md">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="overlay justify-content-center align-items-center" style="display:none;">
          <i class="fas fa-3x fa-sync fa-spin"></i>
        </div>
        <div class="modal-header">
          <h5 class="modal-title">Modal Title</h5>
          <button type="button" class="btn btn-modal-tool" onclick="modalUtils.fullscreen(this)">
            <i class="fas fa-expand"></i>
          </button>
          <button type="button" class="ico-close-button btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>      
        </div>
        <div class="modal-body">
          <p>body</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default close-button" data-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary modal-button">적용</button>
        </div>
      </div>
      <!-- //.modal-content -->
    </div>
    <!-- //.modal-dialog -->
  </div>
  <!-- //.modal md -->

  <div id="FrmAdminInfo" class="d-none">
    <form name="FrmAdminInfo" method="post">
      <input type="hidden" name="id">
      <div class="row">
        <div class="col-12 mb-10px">
          <label class="form-label">이름</label>
          <input type="text" data-vali='{"fNam":"이름"}' class="form-control" name="name" value="">
        </div>      
      </div>
      <div class="row">
        <div class="col-12 mb-10px">
          <label class="form-label">아이디</label>
          <input type="text" data-vali='{"fNam":"아이디"}' class="form-control" name="account" value="">
        </div>      
      </div>
      <div class="row">
        <div class="col-12 mb-10px">
          <label class="form-label">Password</label>
          <input type="password" data-vali='{"fNam":"비밀번호"}' class="form-control" name="password" value="">
        </div>      
      </div>
      <div class="row new-password-area" style="display:none">
        <div class="col-12 mb-10px">
          <label class="form-label">신규 Password</label>
          <input type="password" data-vali='{"fNam":"신규 비밀번호"}' class="form-control" name="new_password" value="" disabled>
        </div>      
      </div>
      <div class="row">
        <div class="col-12 mb-10px">
          <label class="form-label">권한</label>
          <div>
            <div class="form-check form-switch mb-1">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="permission" value="1"> 유저 열람
              </label>
            </div>
            <div class="form-check form-switch mb-1">
              <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="permission" value="2"> 유저 수정(승인, 그룹설정 포함)
              </label>
            </div>
            <div class="form-check form-switch mb-1">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="permission" value="4"> 유저 지급(수당 지급)
              </label>
            </div>
            <div class="form-check form-switch mb-1">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="permission" value="8"> 전송내역 열람(인출 포함)
              </label>
            </div>
            <div class="form-check form-switch mb-1">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="permission" value="16"> 관리자 수정
              </label>
            </div>
          </div>
        </div>      
      </div>
      
    </form>
  </div>

  <!-- ================== BEGIN core-js ================== -->
	<script src="/assets/js/vendor.min.js"></script>    
	<!--script src="/assets/js/app.min.js"></script-->  
  <script src="/assets/js/app.js?v=<%=Date.now()%>"></script>
	<!-- ================== END core-js ================== -->
  <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="/assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.ko.min.js"></script>
  <script src="/assets/plugins/sheetjs/xlsx.full.min.js"></script>  
  <script src="/assets/plugins/filesaver.js/FileSaver.min.js"></script>
  <script src="/assets/plugins/sweetalert/sweetalert.min.js"></script>
  <script src="/assets/plugins/clipboard.js-master/clipboard.min.js"></script>
  <script src="/assets/plugins/gritter/js/jquery.gritter.js"></script>  
  <script src="/assets/plugins/select2/js/select2.min.js"></script>

  <script src="/assets/js/utils.js?v=<%=Date.now()%>"></script>
  <script src="/assets/js/modalutils.js?v=<%=Date.now()%>"></script>
  <script src="/assets/js/app.addon.js?v=<%=Date.now()%>"></script>  

  <script>

    window.addEventListener('DOMContentLoaded', (event) => {


    });
    

  </script>
</body>
</html>